<div id="cat-widget">
    <img src="{{ cat_image }}" alt="Random Cat" id="cat-image" style="max-width:100%; height:auto;">
    <div id="votes">
      <button id="vote-up">Vote Up</button>
      <button id="vote-down">Vote Down</button>
    </div>
  </div>
  